name: workflow basique

on: 
  push:
    branches: [main]
env:
  PROJECT_VERSION: '1.0.0'
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: 17
          # Java distribution. See the list of supported distributions in README file
          distribution: zulu
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: build project with Maven
        run: mvn clean package -DskipTests
