name: workflow basique

on: 
  push:
    branches: [main]
env:
  PROJECT_VERSION: '1.0.0'
  MAVEN_OPTS: "-Dmaven.repo.local=${{github.workspace}}/.m2/repository"
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: 17
          # Java distribution. See the list of supported distributions in README file
          distribution: zulu
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: ${{github.workspace}}/.m2/repository
          # An explicit key for restoring and saving the cache
          key: cache-dependances
      - name: build project with Maven
        run: mvn clean package -DskipTests
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          # Artifact name
          name: helloworld-{{env.PROJECT_VERSION}}.jar
          # A file, directory or wildcard pattern that describes what to upload
          path: target/helloworld-1.0-SNAPSHOT.jar
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps: 
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: 17
          # Java distribution. See the list of supported distributions in README file
          distribution: zulu
      - name: Cache
        uses: actions/cache@v4.3.0
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: ${{github.workspace}}/.m2/repository
          # An explicit key for restoring and saving the cache
          key: 'repository_hash'
      - name: start build
        run: 
          mvn test
        continue-on-error: true
  deploy:
    name: Deploy App
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v6.0.0
        with:
          # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
          name: helloworld-{{env.PROJECT_VERSION}}.jar
      - name: Deploy to server
        run: echo "Deploying application"

        
        
